@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  background: url('map.png') no-repeat center center/cover;
  opacity: 0.9;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #ffa900;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #ffa900;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.btn2 {
  background-color: #333;
  color: aliceblue;
  border-radius: 5px;
}

.btn2:hover {
  background: #fff;
  color: #000;
  border: 2px solid white;
}

.btn-dark {
  background: #333;
  color: #fff;
}

/* Section: Contact */
#contact {
  background: #ffa900;
  height: 100vh;
  display: block;
  opacity: 0.9;
}

#contact .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 50%;
  padding: 0.5rem;
}

#contact .contact-form input.btn2 {
  display: block;
  width: 10%;
  margin: 10px;
}

#contact .contact-form .form-element {
  height: 100vh;
  padding-top: 250px;
}

#contact .contact-form .form-element h2,
#contact .contact-form .form-element p {
  padding-left: 10px;
}

#contact .contact-form .image {
  background: url('map.png') no-repeat center center/cover;
  opacity: 0.9;
}

/* .image .empty {
  margin: 50px;
}

img {
  display: block;
  width: 700px;
  height: 700px;
  margin: auto;
  border-radius: 12px;
} */
